.listContainer {
	margin-top: -7px;
	margin-bottom: 14px;
	margin-left: 51px;
	padding: 29px 20px 10px 20px;
	width: 603px;
	min-height: 184px;
	border: 0.5px solid #d0d0d0;
	border-top: none !important;
	border-radius: 9px;
}

.listContainer .listSection {
	margin-top: 14px;
}

.listContainer .listItem {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 3px;
}

.listContainer .listItem .draggable {
	width: 13px;
	height: 18px;
	order: 1;
	opacity: 0;
}

.listContainer .listItem .draggable .dark textarea {
	background-color: #000 !important;
}

.listContainer .listItem input[type='checkbox'] {
	order: 2;
}

.listContainer .listItem button {
	opacity: 0;
	order: 4;
}

.listContainer .listItem .todoInput:hover + button,
.listContainer .listItem .todoInput:active + button,
.listContainer .listItem .todoInput:focus + button {
	opacity: 1;
}

.listContainer .listItem:hover button {
	opacity: 1;
}

.listContainer .listItem .todoInput:hover + button svg,
.listContainer .listItem .todoInput:active + button svg,
.listContainer .listItem .todoInput:focus + button svg,
.listContainer .listItem:hover button svg {
	stroke: #707070;
	background-color: white;
	border-color: white;
	width: 14px;
	height: 14px;
	border: 1px solid white;
	border-radius: 360px;
}

.listContainer .listItem .todoInput:hover + button svg:hover,
.listContainer .listItem .todoInput:active + button svg:hover,
.listContainer .listItem .todoInput:focus + button svg:hover,
.listContainer .listItem button svg:hover {
	stroke: white;
	background-color: black;
	width: 14px;
	height: 14px;
	border: 1px solid black;
	border-radius: 360px;
}

.listContainer .listItem:hover .todoInput ~ .draggable,
.listContainer .listItem .todoInput:active ~ .draggable,
.listContainer .listItem .todoInput:focus ~ .draggable {
	opacity: 0.5;
}

.listContainer .listItem .todoInput ~ .draggable:hover {
	opacity: 1;
}

.listContainer .listItem .todoInput,
.listContainer .listItem .todoInput:active,
.listContainer .listItem .todoInput:focus {
	border-left: none;
	border-right: none;
	border-top: none;
	outline: none;
	overflow: hidden;
	font-family: sans-serif;
	border-bottom: 0.5px solid #e2e2e2;
	width: 480px;
	color: #4e1f77;
	resize: vertical;
	resize: none;
	order: 3;
	display: flex;
	align-items: center;
	padding: 0;
	height: 22px;
}

.todoDark {
	color: #fff !important;
}

.todoDone {
	text-decoration: line-through !important;
	color: rgb(193, 193, 193) !important;
}

.darkCheckbox::before {
	background: #000 !important;
	border: 2px solid white !important;
}
